# All of the data files.
*.hdf5
# The fonts.
#*.ttf
create_dataset.py
history.ods
.~lock.*

#*.nb
img/
out/
*.pyc
model.json

# Scripts for connecting to the remote server.
*.sh
source.tar

.vscode/
paper.pdf
keys
keys.7z
numbers.zip